<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../../partials/_head %>
    <title>Create League</title>
  </head>

  <body>
    <% include ../../partials/_nav %>
    <div class='container'>
      <div class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel-heading">
          <div class="panel-title">Create League</div>
        </div>
        <div class="panel-heading">
          <form action='/football/league/create' method='post'>
            <div class='form-group'>
              <label for='name'>League Name:</label>
              <input type='text' class='form-control' id='name' name='name'>
            </div>
            <div class='form-group'>
              <label for='password'>League Password:</label>
              <input type='text' class='form-control' id='password' name='password'>
            </div>
            <div class='form-group'>
              <label for='size'>Number of Teams:
                <select class='form-control' id='size' name='size'>
                  <% for (var i = 4; i <= 32; i++) { %>
                    <% if (i === 12) { %>
                      <option selected='selected'><%= i %></option>
                    <% } else { %>
                      <option><%= i %></option>
                    <% } %>
                  <% } %>
                </select>
              </label>
            </div>
            <div class="form-group">
              <label for="scoring">Scoring Type:</label>
              <div class="radio">
                <label class="radio-inline"><input type="radio" name="scoring" value="Standard">Standard</label>
                <label class="radio-inline"><input type="radio" name="scoring" value="0.5 PPR">0.5 PPR</label>
                <label class="radio-inline"><input type="radio" name="scoring" value="PPR">PPR</label>
              </div>
            </div>
            <div class="form-group">
              <label for="type">League Type:</label>
              <div class="radio">
                <label class="radio-inline leagueType"><input type="radio" name="type" value="Redraft">Redraft</label>
                <label class="radio-inline leagueType"><input type="radio" name="type" value="Dynasty">Dynasty</label>
                <label class="radio-inline leagueType"><input type="radio" name="type" id="keeperType" value="Keeper">Keeper</label>
              </div>
            </div>
            <div class="form-group hide" id="keeper">
              <label for="keepers">Number of Keepers:
                <select class="form-control" id="keepers" name="keepers">
                  <% for (var i = 0; i <= 20; i++) { %>
                    <option><%= i %></option>
                  <% } %>
                  </select>
                </label>
            </div>
            <div class='form-group'>
              <label for='position'>Roster Positions:</label>
              <div class='container'>
                <div class='row'>
                  <div class='col-xs-1'>
                    <label class='text-inline'>QB:
                      <select class='form-control' id='qb' name='qb'>
                        <% for (var i = 0; i <= 4; i++) { %>
                          <% if (i === 1) { %>
                            <option selected='selected'><%= i %></option>
                          <% } else { %>
                            <option><%= i %></option>
                          <% } %>
                        <% } %>
                      </select>
                    </label>
                  </div>
                  <div class='col-xs-1'>
                    <label class='text-inline'>RB:
                      <select class='form-control' id='rb' name='rb'>
                        <% for (var i = 0; i <= 6; i++) { %>
                          <% if (i === 2) { %>
                            <option selected='selected'><%= i %></option>
                          <% } else { %>
                            <option><%= i %></option>
                          <% } %>
                        <% } %>
                      </select>
                    </label>
                  </div>
                  <div class='col-xs-1'>
                    <label class='text-inline'>WR:
                      <select class='form-control' id='wr' name='wr'>
                        <% for (var i = 0; i <= 6; i++) { %>
                          <% if (i === 2) { %>
                            <option selected='selected'><%= i %></option>
                          <% } else { %>
                            <option><%= i %></option>
                          <% } %>
                        <% } %>
                      </select>
                    </label>
                  </div>
                  <div class='col-xs-1'>
                    <label class='text-inline'>TE:
                      <select class='form-control' id='te' name='te'>
                        <% for (var i = 0; i <= 4; i++) { %>
                          <% if (i === 1) { %>
                            <option selected='selected'><%= i %></option>
                          <% } else { %>
                            <option><%= i %></option>
                          <% } %>
                        <% } %>
                      </select>
                    </label>
                  </div>
                </div>

                <div class='row'>
                  <div class='col-xs-1'>
                    <label class='text-inline'>RB/WR/TE:
                      <select class='form-control' id='rb_wr_te' name='rb_wr_te'>
                        <% for (var i = 0; i <= 6; i++) { %>
                          <% if (i === 2) { %>
                            <option selected='selected'><%= i %></option>
                          <% } else { %>
                            <option><%= i %></option>
                          <% } %>
                        <% } %>
                      </select>
                    </label>
                  </div>
                  <div class='col-xs-1'>
                    <label class='text-inline'>RB/TE:
                      <select class='form-control' id='rb_te' name='rb_te'>
                        <% for (var i = 0; i <= 6; i++) { %>
                          <option><%= i %></option>
                        <% } %>
                      </select>
                    </label>
                  </div>
                  <div class='col-xs-1'>
                    <label class='text-inline'>WR/TE:
                      <select class='form-control' id='wr_te' name='wr_te'>
                        <% for (var i = 0; i <= 6; i++) { %>
                          <option><%= i %></option>
                        <% } %>
                      </select>
                    </label>
                  </div>
                  <div class='col-xs-1'>
                    <label class='text-inline'>QB/WR/RB/TE:
                      <select class='form-control' id='qb_wr_rb_te' name='qb_wr_rb_te'>
                        <% for (var i = 0; i <= 6; i++) { %>
                          <option><%= i %></option>
                        <% } %>
                      </select>
                    </label>
                  </div>

                </div>
                <div class='row'>
                  <div class='col-xs-1'>
                    <label class='text-inline'>RB/WR:
                      <select class='form-control' id='rb_wr' name='rb_wr'>
                        <% for (var i = 0; i <= 6; i++) { %>
                          <option><%= i %></option>
                        <% } %>
                      </select>
                    </label>
                  </div>
                  <div class='col-xs-1'>
                    <label class='text-inline'>K:
                      <select class='form-control' id='k' name='k'>
                        <% for (var i = 0; i <= 4; i++) { %>
                          <% if (i === 1) { %>
                            <option selected='selected'><%= i %></option>
                          <% } else { %>
                            <option><%= i %></option>
                          <% } %>
                        <% } %>
                      </select>
                    </label>
                  </div>
                  <div class='col-xs-1'>
                    <label class='text-inline'>DST:
                      <select class='form-control' id='dst' name='dst'>
                        <% for (var i = 0; i <= 4; i++) { %>
                          <% if (i === 1) { %>
                            <option selected='selected'><%= i %></option>
                          <% } else { %>
                            <option><%= i %></option>
                          <% } %>
                        <% } %>
                      </select>
                    </label>
                  </div>
                  <div class="col-xs-1">
                    <label class="text-inline">Bench:
                      <select class="form-control" id="Bench" name="Bench">
                        <% for (var i = 0; i <= 50; i++) { %>
                          <% if (i === 6) { %>
                            <option selected='selected'><%= i %></option>
                          <% } else { %>
                            <option><%= i %></option>
                          <% } %>
                        <% } %>
                      </select>
                    </label>
                  </div>
                </div>
                <div class='row'>
                  <div class='col-xs-1'>
                    <label class='text-inline'>IDP Flex:
                      <select class='form-control' id='idp' name='idp'>
                        <% for (var i = 0; i <= 6; i++) { %>
                          <option><%= i %></option>
                        <% } %>
                      </select>
                    </label>
                  </div>
                  <div class='col-xs-1'>
                    <label class='text-inline'>DL:
                      <select class='form-control' id='dl' name='dl'>
                        <% for (var i = 0; i <= 6; i++) { %>
                          <option><%= i %></option>
                        <% } %>
                      </select>
                    </label>
                  </div>
                  <div class='col-xs-1'>
                    <label class='text-inline'>LB:
                      <select class='form-control' id='lb' name='lb'>
                        <% for (var i = 0; i <= 6; i++) { %>
                          <option><%= i %></option>
                        <% } %>
                      </select>
                    </label>
                  </div>
                  <div class='col-xs-1'>
                    <label class='text-inline'>DB:
                      <select class='form-control' id='db' name='db'>
                        <% for (var i = 0; i <= 6; i++) { %>
                          <option><%= i %></option>
                        <% } %>
                      </select>
                    </label>
                  </div>
                </div>
                <div class='row'>
                  <div class='col-xs-1'>
                    <label class='text-inline'>DE:
                      <select class='form-control' id='de' name='de'>
                        <% for (var i = 0; i <= 6; i++) { %>
                          <option><%= i %></option>
                        <% } %>
                      </select>
                    </label>
                  </div>
                  <div class='col-xs-1'>
                    <label class='text-inline'>DT:
                      <select class='form-control' id='dt' name='dt'>
                        <% for (var i = 0; i <= 6; i++) { %>
                          <option><%= i %></option>
                        <% } %>
                      </select>
                    </label>
                  </div>
                  <div class='col-xs-1'>
                    <label class='text-inline'>CB:
                      <select class='form-control' id='cb' name='cb'>
                        <% for (var i = 0; i <= 6; i++) { %>
                          <option><%= i %></option>
                        <% } %>
                      </select>
                    </label>
                  </div>
                  <div class='col-xs-1'>
                    <label class='text-inline'>S:
                      <select class='form-control' id='s' name='s'>
                        <% for (var i = 0; i <= 6; i++) { %>
                          <option><%= i %></option>
                        <% } %>
                      </select>
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <button type='submit' class='btn btn-default'>Submit</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
