<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../../partials/_head %>
    <title><%= (leagueData.name) %></title>
  </head>

  <body>
    <% include ../../partials/_nav %>

    <div class="container center_div">
      <h1>League <%= (leagueData.name) %></h1>
    </div>
    <div class="container center_div">
      <div class="col-md-6">
        <h3>Teams</h3>
        <table class="table">
          <tbody>
            <tr>
              <th>Team Name</th>
              <th>Draft Position</th>
              <th>Owner</th>
              <% if (leagueData.commish_id == userID) { %>
                <th>Remove Owner</th>
              <% } %>
            </tr>
            <% teamData.forEach(function(team) { %>
              <tr>
                <td><%= (team.name) %></td>
                <td><%= (team.draft_position) %></td>
                <td>
                <!-- if a team is claimed, shows the team name -->
                  <% if (team.user_id > 0) { %>
                    <%= team.username %>
                  <% } else { %>
                  <!-- Shows the claim button if signed in and haven't claimed a team already. Otherwise says Open -->
                    <% if (!takenTeams.includes(userID) && userID) { %>
                      <a class='btn btn-xs btn-primary btn-default' href="/football/league/<%= (leagueData.id) %>/claim/<%= team.id %>">Claim Team</a>
                    <% } else { %>
                      <strong>Open</strong>
                    <% } %>
                  <% } %>
                </td>
                <% if (team.user_id > 0 && leagueData.commish_id == userID) { %>
                  <td>
                    <form action="/football/league/<%= (leagueData.id) %>/remove/<%= team.id %>" method="post">
                      <button type='submit' class='btn btn-xs btn-primary btn-danger'><span class="glyphicon glyphicon-remove"></span></button>
                    </form>
                  </td>
                <% } %>
              </tr>
            <% }); %>
          </tbody>
        </table>
      </div>

      <div class="col-md-6">
        <h3>Drafts</h3>
        <table class="table">
          <tbody>
            <tr>
              <th>Draft ID</th>
              <th>Player Pool</th>
              <th>Order</th>
              <th>Status</th>
            </tr>
            <% draftData.forEach(function(draft) { %>
              <tr>
                <td><a class='btn btn-default' href="/football/league/<%= (leagueData.id) %>/draft/<%= (draft.id) %>">Draft <%= draft.id %></a></td>
                <td><%= draft.pool %></td>
                <td><%= draft.draft_type %></td>
                <td><%= draft.status %></td>
              </tr>
            <% }) %>
          </tbody>
        </table>
        <% if (leagueData.commish_id == userID) { %>
          <div class="container center_div">
            <a class='btn btn-default' href="/football/league/<%= (leagueData.id) %>/draft/create">New Draft</a>
          </div>
        <% } %>
        <h5>Draft Notes</h5>
        <ol>New drafts can be created by the commisioner</ol>
        <ol>The draft starts when the commisioner manually starts it</ol>
        <ol>The commisioner can skip a pick, or enter a pick for any team</ol>
        <ol>There is no auto-pick. A counter keeps track how long it has been since the last pick</ol>

      </div>
    </div>
    <div class="container center_div">
      <div class="col-md-6">
        <h3>Roster Requirements</h3>
        <table class="table">
          <tbody>
            <tr>
              <th>Position</th>
              <th>Number</th>
            </tr>
            <% for (var key in leaguePositions) { %>
              <tr>
                <td><%= key.replace(/_/g, '/') %></td>
                <td><%= leaguePositions[key] %></td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </div>
      <div class="col-md-6">
        <h3>League Settings</h3>
        <table class="table">
          <tbody>
            <tr>
              <td>Name</td>
              <td><%= (leagueData.name) %></td>
            </tr>
            <% if (leagueData.commish_id == userID) { %>
              <tr>
                <td>Password</td>
                <td><%= (leagueData.password) %></td>
              </tr>
            <% } %>
            <tr>
              <td>Teams</td>
              <td><%= (leagueData.size) %></td>
            </tr>
            <tr>
              <td>Scoring</td>
              <td><%= (leagueData.scoring) %></td>
            </tr>
            <tr>
              <td>Type</td>
              <td><%= (leagueData.type) %></td>
            </tr>
            <% if ((leagueData.type) === 'Keeper') { %>
              <tr>
                <td>Keepers</td>
                <td><%= (leagueData.keepers) %></td>
              </tr>
            <% } %>
          </tbody>
        </table>
        <% if (leagueData.commish_id == userID) { %>
          <div class="container center_div">
            <a class='btn btn-default' href="/football/league/<%= (leagueData.id) %>/edit">Edit League</a>
          </div>
        <% } %>
      </div>
    </div>

  </body>
</html>
